/* inputs search*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
input[type="search"]:focus {
  box-shadow: none;
}
input {
  border: none;
}
textarea {
  border: none;
}
input[type="number"] {
  border: 1px solid #eeeeee;
  padding: 0 2px 0 0;
}
/* table */
thead * {
  font-family: "Rokh" ;
  font-size: 16px;
}
